body {
  font-family: "Roboto", "Arial", sans-serif;
}

.purple {
  background-color: rgb(126, 45, 202);
  height: calc(100vh/9);
}

.coolText {
  color: rgb(25, 219, 219);
  position: relative;
  top: 39px;
  text-align: left;
  text-size-adjust: 10px;
}

.notCoolText {
  color: rgb(25, 219, 219);
  position: relative;
  bottom: 10px;
  text-align: right;
  text-size-adjust: 10px;
}

.onCenter {
  color: rgb(44, 7, 104);
  font-stretch: 10px;
  text-align: center;
  position: relative;
  top: -48px;
  font-family: "Roboto", "Arial", sans-serif;
}

.image0 {
  color: blueviolet;
	margin-right: 200px;
  margin-left: 40px;
}

.image1 {
  color: blueviolet;
  margin-right: 200px;
}

.image2 {
  color: blueviolet;
  margin-right: 200px;
}

.image3 {
  color: blueviolet;
  margin-right: 200px;
}

.subcribe {
  color: rgb(114, 19, 158);
}

.container_top {
  display: flex;
}

.container_bottom {
  display: flex;
}

.images {
  font-family: "Roboto", "Arial", sans-serif;
}
