body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
}

.purple {
  background-color: rgb(126, 45, 202);
  height: calc(100vh/9);
  min-width: 1865px;
}

.coolText {
  color: rgb(25, 219, 219);
  position: relative;
  top: 39px;
  text-align: left;
  text-size-adjust: 10px;
}

.notCoolText {
  color: rgb(25, 219, 219);
  position: relative;
  bottom: 10px;
  text-align: right;
  text-size-adjust: 10px;
}

.onCenter {
  color: rgb(44, 7, 104);
  text-align: center;
  position: relative;
  top: -48px;
  font-family: "Roboto", "Arial", sans-serif;
}

.image {
  color: blueviolet;
  margin-right: 200px;
}

.subcribe {
  color: rgb(114, 19, 158);
}

.container_top {
  display: flex;
  min-width: 1865px;
}

.container_bottom {
  display: flex;
}

.images {
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  width: 300px;
  height: 450px;
}

.image:first-child {
  margin-left: 50px;
}

.recomendation {
  color: rgb(114, 19, 158);
}
